<form
  action="/upload"
  method="POST"
  enctype="multipart/form-data"
  onsubmit="submitForm(this);return false"
  style="text-align: left"
>
  <div>
    <label style="font-size: 24px"><u>Upload a PPT file</u></label>
  </div>
  <div class="input-group">
    <input
      type="file"
      name="ppt"
      accept=".pptx,.ppt"
      id="upload"
      class="form-control"
      aria-describedby="inputGroupFileAddon04"
      aria-label="Upload"
      required
    />
    <button
      class="btn btn-info"
      type="submit"
      id="inputGroupFileAddon04"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Upload
    </button>
  </div>
</form>

<div
  id="overlay"
  style="
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
  "
>
  <img
    src="/images/loading.gif"
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    "
    width="200px"
    height="200px"
  />
</div>
<br>
<div style="font-size: 24px; text-align: left !important">
  <label><u>My file list</u></label>
</div>

<div  style="min-height: 180px;">
  <ul class="list-group" style="text-align:start;">
    <% var index=1; %> <% users.forEach( function(user) { %>
    <li
      class="list-group-item list-group-item-success d-flex justify-content-between align-items-start"
    >
      <a href="/pptDetail/<%= user.folder %>">
        <%= index %>. <%= user.fileName %>
      </a>
      <div class="col-7 col-lg-4">
      <button type="button" class="btn btn-success"  onclick="startbtn('<%=user.folder %>')">Start</button>
      <button
        type="button"
        class="btn btn-danger"
        id="deletebtn"
        onclick="deleteppt('<%=user.folder %>')"
      >
        Delete
      </button>
      </div>

      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Modal title
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <% index++}); %>
  </ul>
</div>

<script>
  //upload ppt
  async function submitForm(oFormElement) {
    document.getElementById("overlay").style.display = "block"; // show loading overlap
    var response = await fetch(oFormElement.action, {
      method: oFormElement.method,
      credentials: "same-origin",
      body: new FormData(oFormElement),
    });

    if (response.ok) {
      var data = await response.json(); // for res.ok() or res.json()
      document.getElementById("overlay").style.display = "none";;
      // alert(data.message);
      console.log(data.message);
      var msg=data.message
      bootbox.alert({
          message: data.message,
          callback: function () {
            location.reload(true);   
          }
      })
      // location.reload(true);
    } else if (response.status == 401) {
      var data = await response.text(); // for res.send()
      alert(data.message);
    } else {
      alert(response.statusText);
    }
  }

  async function deleteppt(foldername) {
    bootbox.confirm('Are you sure to delete?', async function (result) {
      if (result) {
        var response = await fetch('/deletefolder/'+foldername, {
          method: 'POST',
          credentials: "same-origin",
        });

        if (response.ok) {
          var data = await response.json(); // for res.ok() or res.json()
          // alert(data.message);
          location.reload();
        } else if (response.status == 401) {
          var data = await response.text(); // for res.send()
          alert(data.message);
        } else {
          alert(response.statusText);
        }
      }
    });
  }

  async function startbtn(foldername){
    window.location.replace("/"+foldername+"/presenting");
  }
</script>
