<!-- <h3 style="text-align: left; text-decoration: underline">
  <%= user.fileName %>
</h3> -->
<nav aria-label="breadcrumb" style="background-color: whitesmoke;font-size: 24px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/myfiles">My Files</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= user.fileName %>
    </li>
  </ol>
</nav>

<% var totalpage=user.slideNum %>
<% var page=1 %>

  <span style="float: left; " class="col-6 col-lg-8">
 
        <% for (var i = 1; i <= totalpage+1;i++ ) {%>
          <% for (var j=0; j < event.length; j++ ) { %>
            <% if(event[j].insertBefore==i) { %>
                <% if(event[j].type=="Multiple Choice") {%>
                  <div style="padding-bottom: 30-px;" >
                    <a href="/<%=event[j].folder%>/getMCform/<%= event[j].insertBefore%>" target="_blank">
                    <img class="col-8 col-lg-4 icon" style="float:left ;padding-bottom: 20px;" src="/images/MCicon.png">    
                    </a>
                    <a class="col-4 col-lg-2" style="color: whitesmoke;float: left; " href="/<%=event[j].folder%>/getMCform/<%= event[j].insertBefore%>" target="_blank"><u>Multiple choice </u></a>
                  </div>
                <%} else if(event[j].type=="True or False") {%>
                  <div style="padding-bottom: 30-px;" >
                    <a href="/<%=event[j].folder%>/getTFform/<%= event[j].insertBefore%>" target="_blank">
                    <img class="col-8 col-lg-4 icon" style="float:left ;padding-bottom: 20px;" src="/images/TFicon.png">    
                    </a>
                    <a class="col-4 col-lg-2" style="color: whitesmoke;float: left; " href="/<%=event[j].folder%>/getTFform/<%= event[j].insertBefore%>" target="_blank"><u>True or False </u></a>
                  </div>
                <% } %>
            <% } %>
          <% } %>
          <% if(i!=totalpage+1) {%>
            <div style="padding-bottom: 30-px;" >
               <img class="col-8 col-lg-4 icon" style="float: left ;padding-bottom: 20px;" src="<%=user.folderPath%>/<%= user.pngNameNoNum%><%=i%>.png">    
               <label class="col-4 col-lg-2" style="float: left; ">Slide <%=i%></label>
            </div>
         <% } %>
        <% }%>
  </span>

  <ul
    style=" color: navy; text-align: left; float: right;"
    class="list-group col-6 col-lg-4"
  >
    <li class="list-group-item" style="background-color: rgb(230, 228, 228)">

      <a style="cursor: pointer;" onclick="refresh()"> <img style="max-width: 30px;max-height: 30px;" src="/images/refresh.png"></a>
      <label style="font-size: 18px; font-weight: bold; margin-top: 8px; margin-left: 4px;">Event Panel</label>
      <span class="btn-group" role="group" style="float:right; ">
        <button
          id="btnGroupDrop1"
          type="button"
          class="btn btn-secondary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Add Event
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="/<%= user.folder%>/MCform" target="_blank">Multiple Choice</a>
          <a class="dropdown-item" href="/<%= user.folder%>/TFform" target="_blank">True/False</a>
        </div>
      </span>
    </li>

    <% var len=event.length %>
    <% for(var k=0; k<len;k++){%>
    <li
      class="list-group-item"
      style="display: block; background-color: rgb(230, 228, 228)"
    >
      <button type="button" class="close" style="background-color: thistle;color:red; border-color:transparent;float: right;" onclick="delEvent('<%=event[k].folder %>','<%=event[k].insertBefore %>', '<%=event[k].type %>')">
        <span>&times;</spa>
      </button>
      <% if(event[k].type=="Multiple Choice") {%>
        <a href="/<%=event[k].folder%>/getMCform/<%= event[k].insertBefore%>" target="_blank"><u><%= event[k].type%> </u></a>
      <% } else if(event[k].type=="True or False") {%>
        <a href="/<%=event[k].folder%>/getTFform/<%= event[k].insertBefore%>" target="_blank"><u><%= event[k].type%> </u></a>
      <% }%>
      <% if(event[k].insertBefore<=event[k].slideNum) {%>
        <label style="float: right;">Before Slide <%= event[k].insertBefore%>&nbsp;</label>
      <% } else if(event[k].insertBefore > event[k].slideNum){ %>
        <label style="float: right;">After Slide <%= event[k].slideNum %>&nbsp;</label>
      <% } %>
      
    </li>
    <% } %>
  </ul>
  


<script>
  async function delEvent(folder,insertBefore,type){
    bootbox.confirm('Are you sure to delete?',async function(result) {
      if (result) {
        var formData = new FormData();
        formData.append('folder', folder);
        formData.append('insertBefore', insertBefore);
        formData.append('type', type);
        var response = await fetch('/'+folder+'/removeEvent', {
          method: 'POST',
          credentials: "same-origin",
          body: formData,
        });

        if (response.ok) {
          var data = await response.json(); // for res.ok() or res.json()
          // alert(data.message);
          location.reload();
        } else if (response.status == 401) {
          var data = await response.text(); // for res.send()
          alert(data.message);
        } else {
          alert(response.statusText);
        }
      }
    });
  }

  function refresh(){
    // alert("refresh");
    window.location.reload(true);
  }
</script>
<style>
  .icon{
    width: 280px;
    height: 160px;
  }

</style>